/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    TYPOGRAPHY
-----------------*/

body{
    font-family: 'Montserrat', sans-serif;
}

/*-------------
    UTILITY
--------------*/

img{
    max-width: 100%;
}

.link{
    list-style: none;
}

.link li > * {
    text-decoration: none;
    color: inherit;
}

.control-footer{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    line-height: 30px;
}

.button{
    background-color: transparent;
    color: inherit;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

.grow{
    flex-grow: 1;
}

.align-super{
    vertical-align: super;
}

.align-sub{
    vertical-align: sub;
}

.align-baseline{
    vertical-align: baseline;
}

.round-dimension{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.col{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

.position{
    position: relative;
}

/*----------
    HEADER
------------*/

header .wrapper{
    width: 20%;
    background-color: #000000;
    position:absolute;
    top:0;
    left: 0;
    height: calc(100% - 80px);
}

header .wrapper{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    color: #717171;
    font-weight: bold;
    font-size: 14px;
}

header .logo{
    max-width: 100px; 
}

.small-logo{
    display: none;
}

header .green-bar{
    position: absolute;
    font-size: 34px;
    font-weight: 400;
    left: 0;
    top: 60px;
    color: #ADFF2F;

}

header .link img{
    max-width: 25px;
}

header .playlist{
    overflow-y: auto;
}

.playlist h3{
    color: white;
}

.playlist .button{
    margin: 15px 0px;
}

.fa-square-plus{
    font-size: 40px;
    margin-right: 5px;
}

.playlist .link > li{
    margin: 20px 0;
}

header .user{
    position: sticky;
    z-index: 2;
}

header .user hr{
    margin: 15px 0;
}

header .user span > a{
    text-decoration: none;
    color: inherit;
}


header .profile-logo{
    background-color: #808080;
    margin-right: 8px;
    display: inline-block;
   
}

header .profile-logo > img{
    object-fit: contain;
}

header .profile-name{
    color: white;
}

/*---------
    MAIN
-----------*/
main{
    background-color: #141922;
    height: calc(100vh - 80px);
    overflow-y: auto;
    color: white;
    font-size: 30px;
}

/*----------
    FOOTER
------------*/

footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    color: #717171;
}

footer .col{
    padding: 16px;
}

footer .grow{
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

footer .song-name{
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 6px;
}

footer .save-track{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.control-footer li:nth-child(3){
    font-size: 30px;
}

footer .grow .tracking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.grow .progress-bar{
    background-color: #5A5A5A;
    border-radius: 10px;
    width: 50%;
    height: 6px;
}

.grow .progress-bar > div{
    background-color: #C1C1C1;
    width: 30%;
    height: 6px;
}

.progress-bar .fa-circle{
    position: absolute;
    left: 94%;
    bottom: -94%;
    color: white;
    display: none;
}

.tracking:hover .fa-circle {
    color: #ADFF2F;
}
.tracking:hover .progress-bar > div{
    background-color: #ADFF2F;
}

.tracking:hover .fa-circle {
    display: block;
}


/*---------------
    RESPONSIVE
-----------------*/

@media screen and (max-width: 1100px){}
@media screen and (max-width: 700px){
    
    /* header */
    header{
        width: 30%;
    }
}

/* 600px responsive */
@media screen and (max-width: 600px){

    /* header */

    header{
        width: 20%;
    }

    header .disappear-elmnt{
        display: none;
    }

    header .logo{
        display: flex;
        justify-content: center;
    }

    header .small-logo{
        display: block;
        max-width: 25px;
        align-self: center;
    }

    header .query-icons{
        flex-grow: 1;
        text-align: center;
    }

    header .user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    header .user .fa-circle-down{
        padding-right: 8px;
    }
    
}