/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    TYPOGRAPHY
-----------------*/

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    font-weight: bold;
    color: #7D7F84;;
}

/*-------------
    UTILITY
--------------*/

.container-app{
    display: flex;
    height: calc(100vh - 80px);
}

.container-main{
    max-width: 100%;
    padding: 40px 20px;
}

img{
    max-width: 100%;
}

.link{
    list-style: none;
}

.link li > * {
    text-decoration: none;
    color: inherit;
}

.control-footer{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
}

.button{
    background-color: transparent;
    color: inherit;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

.grow{
    flex-grow: 1;
}

.align-super{
    vertical-align: super;
}

.align-sub{
    vertical-align: sub;
}

.align-baseline{
    vertical-align: baseline;
}

.round-dimension{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.col{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

.position{
    position: relative;
}

.progress-bar{
    background-color: #5A5A5A;
    border-radius: 10px;
    width: 50%;
    height: 6px;
}

.progress-bar > div{
    background-color: #C1C1C1;
    border-radius: 10px;
    width: 30%;
    height: 6px;
}

.circle-centered{
    position: absolute;
    left: 94%;
    bottom: -94%;
    color: white;
    display: none;
}

.transition:hover .fa-circle {
    color: #ADFF2F;
}
.transition:hover .position{
    background-color: #ADFF2F;
}

.transition:hover .fa-circle {
    display: block;
}

.hover-white:hover .hover-change{
    color: white;
    transition: color 0.3s;
}

.hover-white:hover .hover-underline{
    text-decoration: underline;
}

main .card:hover .card-img-hover{
    opacity: 1;
}

.hover-zoom:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}


.white-bold{
    color: white;
    font-weight: bold;
}

.overflow{
    overflow-y: hidden;
}

.green-bar{
    position: absolute;
    font-size: 34px;
    color: #ADFF2F;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.main-col{
    padding: 10px 0px;
    width: calc(100% / 6);
}

.card{
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-txt{
    text-align: center;
    margin-top: 10px;
}

.rounded{
    object-fit: cover;
    border-radius: 50%;
}

.hover-round{
    border-radius: 50%;
}


/*----------
    HEADER
------------*/

header{
    width: 300px;
    flex-shrink: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    color: #717171;
    font-weight: bold;
    font-size: 14px;
}

header .logo{
    max-width: 100px; 
}

.small-logo{
    display: none;
}

header .green-bar{
    font-weight: 400;
    left: 0;
    top: 60px;
}

header .link img{
    max-width: 25px;
}

header .playlist{
    overflow-y: auto;
}

.playlist h3{
    color: white;
}

.playlist .button{
    margin: 15px 0px;
}

.fa-square-plus{
    font-size: 40px;
    margin-right: 5px;
}

.playlist .link > li{
    margin: 20px 0;
}

header .user{
    position: sticky;
    z-index: 2;
    overflow-y: hidden;
}

header .user hr{
    margin: 15px 0;
}

header .user span > a{
    text-decoration: none;
    color: inherit;
}


header .profile-logo{
    background-color: #808080;
    margin-right: 8px;
    display: inline-block;
   
}

header .profile-logo > img{
    object-fit: contain;
}

/*---------
    MAIN
-----------*/
main{
    background-color: #141922;
    overflow-y: auto;
    flex-grow: 1;
}

main .upgrade{
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    background-color: #0000008e;
    position: sticky;
    top: 0;
    z-index: 2;
}

.upgrade-btn{
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

main .main-nav{
    justify-content: center;
    gap: 30px;
    position: relative;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 14px;
}

.main-nav .green-bar{
    transform: rotate(90deg);
    left: 49%;
    top: -28%;
    font-weight: 300;
    color: #ADFF2F;
    font-size: xxx-large;
}

main h3{
    margin-bottom: 8px;
}

main .card img{
    display: block;
}

main .card-img-hover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #00000092;
    color: white;
    opacity: 0;
    transition: opacity 0.4s;
    font-size: 50px;
}


/*----------
    FOOTER
------------*/

footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    color: #717171;
}

footer .col{
    width: calc(100% / 3);
    justify-content: center;
    margin-bottom: 10px;
}


footer .footer-left{
    padding-top: 16px;
    padding-left: 16px;
    justify-content: flex-start;
    width: 25%;
}

footer .footer-center{
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 50%;
    padding-top: 12px;
}

footer .song-name{
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 6px;
}

footer .save-track{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

footer .control-footer{
    line-height: 30px;
}

.footer-center .control-footer li:nth-child(3){
    font-size: 30px;
}

footer .footer-center .tracking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

footer .footer-right{
    width: 25%;
    align-items: center;
    gap: 20px;
    padding-top: 16px;
    padding-right: 16px;
    justify-content: flex-end;
}

.volume-bar{
    position: relative;
    width: 35%;
}


/*---------------
    RESPONSIVE
-----------------*/

@media screen and (max-width: 1100px){

    main .main-nav{
        margin-left: 20px;
        margin-right: 20px;
    }

    main .main-nav .green-bar{
        top: -23%;
        left: 53%;
    }

    main .main-col{
        width: calc(100% / 4);
        padding: 0;
    }

    main .created-sctn, main .popular-sctn{
        margin-top: 40px;
    }
}
@media screen and (max-width: 700px){
    
    /* header */

    /* footer */
    footer .save-track{
        flex-direction: column;
        gap: 10px;
    }

    footer .footer-left .song-name{
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    footer .footer-center{
        padding-left: 30px;
    }

    footer .footer-right{
        gap: 10px;
        padding-right: 0;
    }

    footer .footer-right .control-footer{
        gap: 10px;
    }

    /* main */

    main .main-nav .green-bar{
        top: -23%;
        left: 53%;
    }

    main .main-col{
        width: 50%;
        padding: 0;
    }
}

/* 600px responsive */
@media screen and (max-width: 600px){

    /* header */

    header{
        width: 20%;
    }

    header .disappear-elmnt{
        display: none;
    }

    header .logo{
        display: flex;
        justify-content: center;
    }

    header .small-logo{
        display: block;
        max-width: 25px;
        align-self: center;
    }

    header .query-icons{
        flex-grow: 1;
        text-align: center;
    }

    header .user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    header .user .fa-circle-down{
        padding-right: 8px;
    }

    /* main */

    main .main-nav{
        margin-left: 0px;
        margin-right: 0px;
        font-size: small;
    }

    main .main-nav .green-bar{
        top: -26%;
        left: 52%;
    }

    footer .footer-center{
        padding-left: 50px;
    }
    
}